<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1><%= product.name %></h1>
    <br>
    <small>
      <%= (product.updatedAt.toLocaleString("en-CA")) %>
    </small>
  </header>
  <hr>
  <div class="content">
    <%= product.description %>
  </div>
  <div class="content">
    <%= product.price %>
  </div>
</div>

<%- include ('../partials/footer') %>